@font-face {
  font-family: 'HoaTay1';
  src: url("../demo/fonts/hoatay1.woff2") format('woff2'),
       url("../demo/fonts/hoatay1.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chetta Vissto';
  src: url("../demo/fonts/chetta-vissto.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrikeyMoura';
  src: url("../demo/fonts/brikeymoura-regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arcittya Begatri';
  src: url("../demo/fonts/arcittya-begatri.woff2") format('woff2'),
       url("../demo/fonts/arcittya-begatri.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scarlet Bradley';
  src: url("../demo/fonts/scarlet-bradleyregular.woff2") format('woff2'),
       url("../demo/fonts/scarlet-bradleyregular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abbassy Script';
  src: url("../demo/fonts/abbassy-script.woff2") format('woff2'),
       url("../demo/fonts/abbassy-script.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moon Light';
  src: url("../demo/fonts/moon-light.woff2") format('woff2'),
       url("../demo/fonts/moon-light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
